spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/blog
    username: upagge
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
  liquibase:
    change-log: classpath:liquibase/change-log.xml
