spring:
  mandatory-file-encoding: UTF-8
  datasource:
    url: jdbc:postgresql://localhost:5432/blog
    username: upagge
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQL82Dialect
        current_session_context_class: org.springframework.orm.hibernate5.SpringSessionContext
        temp:
          use_jdbc_metadata_defaults: false
server:
  port: 8080
